spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3307/busdb}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
